body {
  font-family: 'Roboto', sans-serif;
}

header {
  padding-left: 25%;
  padding-right: 10%;
  color: #115551;
}

footer {
  background-color: #115551;
  color: #e3fcfb;
}

footer a {
  margin-left: 5px;
  color: #e3fcfb;
}

footer a:hover {
  color: #e3fcfb;
}

td {
  vertical-align: text-bottom;
}

#navBarItem {
  color: #115551;
}

.list-group{
  max-height: 300px;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden
}